$primary: rgb(0, 153, 255);
$light: #ffffff;
$font-dark: #333;
$disabled: rgb(155, 155, 155);


.button {
    border-color: transparent;
    border-radius : 4px;
    padding: 10px 15px;
    font-size: 17px;
    font-weight: bold;
    color: $font-dark;
    background: none;


    &.disabled {
        color: white;
        background-color: $disabled;
    }

    &.primary {
        color: white;
        background-color: $primary;
    }

}


