@import "../../../common/CommonStyle.scss";
@import "../../../Variable.scss";

.login-loading-content {
  min-height: $default-min-height;
  padding-top: $nav-padding-top;

  .login-loading-title {
    padding: 40px 0;
    text-align: center;
    font-size: 20px;
  }
}
