.side-nav {
  position: fixed;
  padding-top: 30px;

  li {
    list-style-type: none;
    padding: 0 40px 20px 40px;

    a {
      text-decoration: none;
      font-size: 20px;
      color: #333;
    }
  }
}
