.base-padding {
  width: 80%;
  position: relative;
  margin: 0 auto;

  min-height: 560px;

  h1 {
    padding-top: 50px;
    text-align: center;
  }

  .bbs-table {
    width: 100%;
    margin: 40px 0;
    border-collapse: collapse;

    clear: both;
    font-family: "Apple SD Gothic Neo", "Noto Sans KR", sans-serif;
    background: #fff;
    text-align: center;

    tr {
      border: 1px solid #b4b4b4;

      td,
      th {
        line-height: 16.8px;
        padding: 10px 0;
      }

      td {
        font-size: 14px;
      }

      td.contents {
        color: #999;
        text-align: left;
      }
    }
  }

  .list-cnt {
    display: flex;
    justify-content: center;
    gap: 50px;

    div {
      font-size: 20px;
    }
  }
}
