@import "../../../common/CommonStyle.scss";
@import "../../../common/Variable.scss";

.review-page {
  padding-top: $nav-padding-top;
  min-height: $default-min-height;
  text-align: center;

  h1.header {
  }

  .empty-review {
    padding: 30px 0;
    font-size: 20px;
  }
}
