$primary-color: #f57b7b;

/* default height 값 고민중*/
$default-min-height: 1280px;

/* navbar 관련 기본 padding.. 여기에 기록*/
$nav-padding-top: 93px;

$text-dark: #333;
$naver-color: green;
$kakao-color: yellow;
